@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./highlights.scss";

.prose {
  & > p > a > img {
    display: inline-block;
    margin: 0;
  }

  table {
    @apply overflow-x-scroll lg:overflow-x-auto;
  }

  table code:only-child {
    &:before, &:after {
      content: "" !important;
    }
  }
}
