<nav class="site-nav">
  <ul>
    {% for nav in site.sidebar.navigation %}
    <li>
      <a href="{{ nav.url | relative_url }}"
        {% if nav.url == page.url %} class="active" {% endif %}
        {% unless (nav.url | slice 0, 1) == / %} target="_blank" {% endunless %}>{{ nav.label }}</a>
    </li>
    {% endfor %}

    {%- comment -%}
    <li>
      <a href="{{ '/' | relative_url }}">Home</a>
    </li>
    <li class="active">
      <a href="#" class="sub-list-expander"><span></span></a>
      <a href="/just-the-docs/docs/ui-components">UI Components</a>
      <ul>
        <li>
          <a href="/just-the-docs/docs/ui-components/typography/">Typography</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/ui-components/buttons/">Buttons</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/ui-components/labels/">Labels</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/ui-components/tables/">Tables</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/ui-components/lists/">Lists</a>
        </li>
        <li>
          <a href="#" class="sub-list-expander"><span></span></a>
          <a href="/just-the-docs/docs/ui-components/code/">Code</a>
          <ul>
            <li>
              <a href="/just-the-docs/docs/ui-components/code/line-numbers/">Code with line numbers</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/just-the-docs/docs/ui-components/callouts/">Callouts</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" class="sub-list-expander"><span></span></a>
      <a href="/just-the-docs/docs/utilities">Utilities</a>
      <ul>
        <li>
          <a href="/just-the-docs/docs/utilities/color/">Color</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/utilities/layout/">Layout</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/utilities/responsive-modifiers/">Responsive Modifiers</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/utilities/typography/">Typography</a>
        </li>
      </ul>
    </li>
    {%- endcomment -%}
  </ul>
</nav>
