<nav aria-label="Main" id="site-nav" class="site-nav">
  <ul>
    <li>
      <a href="{{ '/' | relative_url }}">Home</a>
    </li>
    <li>
      <a href="/just-the-docs/docs/configuration/" class="nav-list-link active">Configuration</a>
    </li>
    <li class="active">
      <a href="#" class="sub-list-expander">▹</a>
      <a href="/just-the-docs/docs/ui-components">UI Components</a>
      <ul>
        <li>
          <a href="/just-the-docs/docs/ui-components/typography/">Typography</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/ui-components/buttons/">Buttons</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/ui-components/labels/">Labels</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/ui-components/tables/">Tables</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/ui-components/lists/">Lists</a>
        </li>
        <li>
          <a href="#" class="sub-list-expander">▹</a>
          <a href="/just-the-docs/docs/ui-components/code/">Code</a>
          <ul>
            <li>
              <a href="/just-the-docs/docs/ui-components/code/line-numbers/">Code with line numbers</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/just-the-docs/docs/ui-components/callouts/">Callouts</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" class="sub-list-expander">▹</a>
      <a href="/just-the-docs/docs/utilities">Utilities</a>
      <ul>
        <li>
          <a href="/just-the-docs/docs/utilities/color/">Color</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/utilities/layout/">Layout</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/utilities/responsive-modifiers/">Responsive Modifiers</a>
        </li>
        <li>
          <a href="/just-the-docs/docs/utilities/typography/">Typography</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/just-the-docs/docs/navigation-structure/">Navigation Structure</a>
    </li>
    <li>
      <a href="/just-the-docs/docs/customization/">Customization</a>
    </li>
    <li>
      <a href="/just-the-docs/docs/search/">Search</a>
    </li>
    <li>
      <a href="/just-the-docs/docs/index-test/">Markdown kitchen sink</a>
    </li>
    <li>
      <a href="/just-the-docs/CHANGELOG/">CHANGELOG</a>
    </li>
    <li>
      <a href="/just-the-docs/MIGRATION/">Migration and Upgrading</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="https://github.com/just-the-docs/just-the-docs" class="nav-list-link external">
        Just the Docs on GitHub
      </a>
    </li>
  </ul>
</nav>
