html, body {
  font-family: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif;
  font-size: inherit;
  line-height: 1.4;
  color: #5c5962;
  background-color: #fff;
  overflow-wrap: break-word;
}

a {
  color: #7253ed;
  text-decoration: none;
}

ul {
  margin: 0;
}

hr {
  height: 1px;
  padding: 0;
  margin: 2rem 0;
  background-color: #eeebee;
  border: 0;
  box-sizing: content-box;
  overflow: visible;
}
